

* {
  font-family: "Poppins", sans-serif !important;
}

/* body {
  cursor: url('https://pomegranate.health/assets/default-b4ddd046.svg') 2 2, auto;
}


a, button, input, textarea, select, option {
  cursor: url('https://pomegranate.health/assets/pointer-45e3a2ec.svg') 4 2, pointer;
} */